<div class="w-50 my-3 mx-auto">
    <h1 class="bg-light text-center">Users list:</h1>
    <ul class="text-center list-group">
        <li th:each="user : ${users}" class="text-decoration-none list-group-item">
            <img th:src=${user.src} alt="">
            <div>
            <a 
            class="h3"
            th:href="${user.href}"> [[ ${user.data.fullname} ]] </a>
        </div>
            ([[ ${user.data.email} ]])
        </li>
    </ul>
    <a href="/" class="text-light text-decoration-none">
        <button class="btn btn-primary btn-block">
            Cancel (back to homepage)
        </button>
    </a>
</div>