<div class="w-50 my-3 mx-auto">
    <ul class="text-center list-group">
        <div th:if='${pages}'>
                <a
                class="text-decoration-none list-group-item"
                th:href='${"/" + page._name}'
                th:text='${page.displayName}'
                th:each='page : ${pages}'
                th:if='${page.displayName == "Users"}'>
                </a>
                <a class="text-decoration-none" th:href="${config.userCreate}">
                    <li class="list-group-item bg-warning text-dark">
                        <strong>Create Account!</strong>
                    </li>
                </a>
                <a class="text-decoration-none" th:href="${config.userDelete}">
                    <li class="list-group-item bg-danger text-light">
                        <strong>Delete Account!</strong>
                    </li>
                </a>
        </div>
    </ul>
</div>