<div class="w-50 my-3 mx-auto">
    <h1 class="bg-light text-center">Home</h1>
    <ul class="text-center list-group">
        <div th:if='${pages}'>
                <a
                class="text-decoration-none list-group-item"
                th:href='${"/" + page._name}'
                th:text='${page.displayName}'
                th:each='page : ${pages}'
                th:unless='${page.displayName == "Form"} or ${page.displayName == "Templates"}'>
                </a>
                <a class="text-decoration-none" th:href="${config.pageCreate}">
                    <li class="list-group-item bg-warning">
                        <strong>Create a post!</strong>
                    </li>
                </a>
        </div>
    </ul>
</div>