<div class="w-50 my-3 mx-auto text-center">
    <ul class="list-group">
        <li class="list-group-item" th:each="tweet : ${tweets}">
            <img th:src="${tweet.user.photo}" style="width: 4rem; height: 4rem; display: inline; border-radius: 30%;">
            <h4 style="display: inline;" class="my-2">@[[ ${tweet.user.fullname} ]]</h4>
            <p class="my-2 border border-dark"> [[ ${tweet.data.tweetBody} ]]</p>
            <a th:href="${config.pageUpdate} + '?id=' + ${tweet._id}"><button class="btn btn-info">Edit</button></a>
            <a th:href="${config.pageDelete} + '?id=' + ${tweet._id}"><button class="btn btn-info">Delete</button></a>
        </li>
    </ul>
    <!-- <a href="/" class="text-light text-decoration-none">
        <button class="btn btn-primary btn-block">
            Homepage
        </button>
    </a> -->
</div>
