<div class="form w-50 mx-auto">
    <h1 class="text-center my-3 bg-light">Update Post</h1>
    <form method="post" th:action="${serviceUrl}">
        <input type="hidden" name="postsFolderPath" th:value="${config.postsFolderPath}">
        <input type="hidden" name="requestType" th:value="put">
        <input type="hidden" name="postId" th:value="${currentPost.hits[0]._id}">

        <!-- <p th:text="${currentPost}"></p>
        <p th:text="${currentPost.hits[0].data.category}"></p> -->

        <label>Title</label>
        <input type="text" name="title" class="form-control" th:value="${currentPost.hits[0].data.title}" required>

        <label>Short title</label>
        <input type="text" name="shorttitle" class="form-control" th:value="${currentPost.hits[0].data.shorttitle}" required>

        <label>Html</label>
        <textarea name="html" class="form-control">
            [[ ${currentPost.hits[0].data.html} ]]
        </textarea>

        <label>Autor</label>
        <select name="author" class="form-control" th:value="${currentPost.hits[0].data.author}">
            <option th:each="author : ${data.authors}"
                    th:value="${author.id}"
                    th:if="${author.id == currentPost.hits[0].data.author}"
                    selected>
                [[ ${author.name} ]]
            </option>
            <option th:each="author : ${data.authors}"
                    th:value="${author.id}"
                    th:unless="${author.id == currentPost.hits[0].data.author}">
                [[ ${author.name} ]]
            </option>
        </select>

        <label>Categoria</label>
        <select name="category" class="form-control" multiple>
            <option th:each="category : ${data.categories}"
                    th:value="${category.id}"
                    th:if="${category.id == currentPost.hits[0].data.category}"
                    selected>
                [[ ${category.title} ]]
                [[ ${category.id} ]]
            </option>
            <option th:each="category : ${data.categories}"
                    th:value="${category.id}"
                    th:unless="${category.id == currentPost.hits[0].data.category}">
                [[ ${category.title} ]]
                [[ ${category.id} ]]
            </option>
        </select>

        <button type="submit" class="btn btn-primary btn-block text-light mt-2">Enviar</button>
    </form>
    <a href="/" class="text-light text-decoration-none">
        <button class="btn btn-info btn-block mt-2">
            Cancel (back to homepage)
        </button>
    </a>
</div>