<div class="form w-50 mx-auto">
    <h1 class="text-center my-3 bg-light">Create Post</h1>
    <form method="post" th:action="${serviceUrl}">
        <input type="hidden" name="postsFolderPath" th:value="${config.postsFolderPath}">
        <input type="hidden" name="httpRequestType" th:value="post">

        <label>Title</label>
        <input type="text" name="title" class="form-control" required>

        <label>Short title</label>
        <input type="text" name="shorttitle" class="form-control" required>

        <label>Html</label>
        <div class="form-group">
            <textarea id="editor" name="html" class="form-control"></textarea>
        </div>

        <label>Autor</label>
        <select name="author" class="form-control">
            <option th:each="author : ${data.authors}" th:value="${author.id}">
                [[ ${author.name} ]]
            </option>
        </select>

        <label>Categoria</label>
        <select name="category" class="form-control" multiple>
            <option th:each="category : ${data.categories}" th:value="${category.id}">
                [[ ${category.title} ]]
            </option>
        </select>

        <button type="submit" class="btn btn-primary btn-block text-light mt-2">Enviar</button>
    </form>
    <a href="/" class="text-light text-decoration-none">
        <button class="btn btn-info btn-block mt-2">
            Cancel (back to homepage)
        </button>
    </a>
</div>